<h4>Basic mat-select</h4>
<div style="display: flex; justify-content: center">

  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-chip-list #chipList>
        <mat-chip style="margin-top:0.4em;" *ngFor="let fruit of  selectedFruits" (removed)="removeSelection(fruit)">

          <span>{{ fruit }} </span>

          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>

        <input type="text" aria-label="Number" matInput #autocompleteInput (input)="filterChanged($event.target.value)"
          [matAutocomplete]="auto" [matChipInputFor]="chipList">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option disabled>Please select an item from below</mat-option>
          <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
          
            <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
              <button mat-icon-button disabled></button>
              <mat-checkbox class="checklist-leaf-node" [checked]="checkSelected(node)"
                (change)="todoLeafItemSelectionToggle(node)">{{node.item}}</mat-checkbox>
            </mat-tree-node>

            <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
              <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.filename">
                <mat-icon class="mat-icon-rtl-mirror">
                  {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                </mat-icon>
              </button>
              <!-- <mat-checkbox [checked]="descendantsAllSelected(node)" 
             [indeterminate]="descendantsPartiallySelected(node)"
              (change)="todoItemSelectionToggle(node)">
              {{node.item}}</mat-checkbox> -->
              <mat-checkbox [checked]="descendantsAllSelected(node)"
                [indeterminate]="descendantsPartiallySelected(node)" (change)="todoItemSelectionToggle(node)">
                {{node.item}}</mat-checkbox>
            </mat-tree-node>
          </mat-tree>
        </mat-autocomplete>
      </mat-chip-list>
    </mat-form-field>
  </form>
</div>